<style> 
    .div-3 {
      background-color:rgb(186, 177, 231);
      color: black;
    }
  
    .buttonStyle{
      margin-left: 50px;
      background-color: whitesmoke;
      ;
    }
  
    .buttonStyle:hover{
      background-color: rgb(150, 174, 185);
    }
  
    .buttonStyle:active{
      background-color: rgb(161, 227, 176);;
    }
  
    .imageStyle{
      height: 75px;
      width: 75px;
    }
  
  </style>
  
  <script src="./homePage.js"></script>
  
  <body>
    <h1 class="div-3">CLINIC MANAGEMENT SYSTEM - INVENTORY HOME PAGE</h1>
  
    <button class="buttonStyle" onclick="openInventoryPage()">
      <img class="imageStyle" src = "../Images/inventory.jpg"></img>
      <p>Inventory</p>
    </button>
  
    <button class="buttonStyle" onclick="openPatientMedicine()">
      <img class="imageStyle" src = "../Images/patient-medicine.jpg"></img>
      <p>Patient-Med</p>
    </button>

  </body>