<style>
  .div-3 {
    background-color: rgba(186, 177, 231, 0.6);
    color: black;
  }
  
  table {
  border-collapse: collapse;
  width: 100%;
  }
  
  th, td {
  text-align: left;
  padding: 8px;
  }
  
  tr:nth-child(even) {
  background-color: D6EEEE;
  }

  .search{
    float:left;
    margin:10px;
    width: 100%;
    height: 5%;
  }
  
  .box{
  width: 50px;
  height: 50px;
  }

    /* styling search bar */
  .search input {
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;
    }

  .search_field{
    background-color: rgba(101, 222, 241, 0.5);
    margin-left: 20px;
    padding: 15px;
  }

  /* .add_button{
    margin-left: 300px;
    background-color: rgb(255, 255, 255);
    border: none;
  }

  .add_button:hover{
    background-color: rgb(150, 174, 185);
  }

  .add_button:active{
    background-color: rgb(161, 227, 176);;
  } */

  /* .search_button{
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
  }

  .search_button:hover{
    background-color: rgb(150, 174, 185);
  }

  .search_button:active{
    background-color: rgb(161, 227, 176);;
  } */

  .imageStyle{
    height: 35px;
    width: 35px;
  }

  .search_button {
    background-image: linear-gradient(92.88deg,rgb(186, 177, 231) 9.16%, rgb(150, 139, 223) 43.89%, rgb(114, 99, 212) 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .search_button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

  @media (min-width: 768px) {
    .search_button {
      padding: 0 2.6rem;
    }
  }

    .add_button {
    margin-left: 50px;
    background-image: linear-gradient(92.88deg,rgb(231, 167, 213) 9.16%, rgb(224, 143, 201) 43.89%, rgb(218, 119, 190) 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .add_button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

  @media (min-width: 768px) {
    .add_button {
    margin-left: 50px;
      padding: 0 2.6rem;
    }
  }

  .edit_tableitem_button {
    background-color: rgba(255, 166, 0,0.5);
  }

  .delete_tableitem_button {
    background-color: rgba(255,0,0,0.5);
  }

</style>
  
<script type="text/javascript" src="./Inventory.js"></script>
<body>
  <h1 class="div-3">CLINIC MANAGEMENT SYSTEM - INVENTORY</h1>

  <div class="search">

      <input  id = "search_medicine_id" class="search_field", type="text"
              placeholder="Search Medicine ID">
      </input>

      <input  id = "search_medicine_name" class="search_field" type="text"
              placeholder="Search Medicine Name">
      </input>

      <input  id = "search_inventory_count" class="search_field" type="number"
              placeholder="Inventory Count">
      </input>

  </div>

  
  <div class="box"></div>
  <div class="box"></div>

  <div>
    
    <button class="search_button" onclick="searchRequest()"> SEARCH &#128269
    </button>

    <button class="add_button" onclick="openForm()"> ADD &#10133
    </button>
  </div>
    
  <div class="box"></div>

  <div id="form-container"></div> <!-- This is where the form -->
  
  <table id="InventoryTable">
    <tr>
      <th>Medicine ID</th>
      <th>Medicine Name</th>
      <th>Inventory Count</th>
      <th>Cost per Dose</th>
      <th>Expiration Date</th>
      <th>User Actions</th>
    </tr>
  </table>

  <script>
    window.addEventListener("load" ,(e) =>  {
      searchRequest();
    }) 
  </script>
</body>